<md-toolbar layout="row" layout-align="space-around center" class="md-whiteframe-z2">
    <md-button class="md-raised md-primary" ui-sref="app">Main</md-button>
    <md-button class="md-raised md-accent" ui-sref=".page1">Page1</md-button>
    <md-button class="md-fab md-warn" aria-label="Page2" ui-sref=".page2">
        <md-icon md-font-library="material-icons">android</md-icon>
    </md-button>
</md-toolbar>
<div flex layout="row">
    <md-content flex ui-view id="content">
        <h1>Main</h1>
    </md-content>
</div>
